<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/loquesea.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar proveedor</title>
</head>

<body>
    <div>

    </div>
    <form action="proveedores" method="post">

        <label class="form-grop" for="">Nombre</label>
        <input class="form-grop" type="text" name="nombre" id="">

        <button class="btn btn-success" type="submit">Enviar</button>
    </form>
</body>

</html>